@tagit:registry=https://nexus.tagitmobile.com/repository/npm-releases/

registry=https://nexus.tagitmobile.com/repository/npm-public/
always-auth=false
#strict-ssl=false   # only because you're using http; remove if you move to https