.mat-dialog-actions {
  button{
    width: 108px;
  }
}

.successButton{
  height: 36px;
  background-color: #00bdcd !important;
}

.mx-dg-heading {
  font-size: 36px;
  color:#2d2d2d;
}

.mx-dg-Successheading {
  width: 76px;
  // font-family: Roboto;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.mx-dg-message {
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  width: 319px;
  text-align: center;
}

.mx-dg-successMsg {
  // width: 372px;
  // height: 38px;
  // font-family: Roboto;
  font-size: 14px;
  letter-spacing: normal;
  text-align: center;
  color: #2a2a2a;
}

.mx-dg-ref{
  font-size: 18px;
  line-height: 1.67;
  // font-family: Roboto;
  font-size: 14px;
  width: 319px;
  text-align: center;
}
.mat-dialog-actions{
  padding: 25px 0;
}
.mx-status-img img{
  width: 74px;
  height: 74px;
}

.mx-status-Successimg img{  
  width: 44px;
  height: 44px;
}

.success {
  color: #4c9c4b;
}

.failure {
  color: red;
}

.mx-m-b-11 {
  padding-bottom: 11px !important;
}

.mx-height {
  height: 24px !important;
}