.mat-dialog-actions {
  padding: 25px 0;
  button{
    width: 110px;
  }
}
.mx-dg-heading {
  font-size: 36px;
  color:#e03232;
}
.mx-dg-message {
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  width: 319px;
  text-align: center;
}
.mx-dg-ref{
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  width: 319px;
  text-align: center;
}
.mx-status-img img{
  width: 48px;
  height: 48px;
}
