@use 'theme.scss';
@use 'fontStyles.scss';
@use '../../../src/app/shared/components/daterangepicker/daterangepicker-theme.scss';
.font_icons {
    color: #00bdcd;
    font-size: 25px;
}

.font_icons_small {
    color: #00bdcd;
    font-size: 16px;
}

.title {
    font-size: 18px !important;
}

.breadcrumb {
    // font-family: Roboto !important;
    font-size: 12px !important;
}

.mx-ac-crud-header-container {
    // font-family: Roboto;
    font-size: 14px !important;
    color: #909090 !important;
}

.search-parameter-suggestions .search-parameter {
    padding: 3px 8px;
    // font-family: Roboto;
    font-size: 14px !important;
    color: #909090 !important;
}
.mulit-view {
    .mat-table.mxDatatable.mat-table {
        // overflow-x: scroll;
        width: 100% !important;
        display: grid;
    }
    .mat-sort-header-button {
        text-align: left;
    }
    .mxStatusBtn {
        font-size: 12px;
    }
    .mat-footer-cell {
        font-size: 12px;
    }
    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 5px !important;
    }
    mat-cell:last-of-type,
    mat-footer-cell:last-of-type,
    mat-header-cell:last-of-type {
        padding-right: 1px;
    }
    .mat-row {
        font-size: 11px;
        font-weight: 500;
        height: auto;
        // .mat-cell {
        //     padding: 8px 6px;
        // }
    }
    .mxDatatableContainer {
        overflow-x: scroll;
        border-radius: 6px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 12px 24px 24px 24px;
    }
    .mat-card:not(.mxButtonGroup) {
        padding: 36px 24px 36px 24px;
    }
    /*  For My task  view, for state column */
    .mat-header-cell {
        overflow: visible !important;
        width: 150px;
    }
    .mat-paginator {
        width: 1500px;
    }
}
.statText {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .mx-status-Active, .mx-status-Approved  { 
    background-color:#4c9c4b;
    @extend .statText;
  }
  .mx-status-Pending, .mx-status-Modified {
    background-color:#f89308;
    @extend .statText;
  }
  .mx-status-Rejected {
    background-color:#ed122c;
    @extend .statText;
  }
  .mx-table-link
  {
      text-decoration: none;
      color: #0058a5;
        height: 16px;
        // font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        word-break: break-all !important;
  }
  .mx-table-header
  {.mat-sort-header-content{
      color: #0058a5 !important;
    }           
  }
//   .mat-header-cell {
//     font-size: 12px;
//     font-weight: 500;
//     // font-family: Roboto;
//     font-size: 14px;
//     font-weight: 500;
//     font-stretch: normal;
//     font-style: normal;
//     line-height: 1.14;
//     letter-spacing: normal;
//     text-align: left;
//     color: #212121 !important;
// }
.light-theme .mat-menu-item {
    background: transparent;
    color: #212121;
}

/* tooltip styles starts*/
.mx-tooltip-icon {
    // margin-top: 23px;
    font-size: 16px;
}

.mx-tooltip {
    line-height: 1.52;
    color: #ffffff !important;
    background-color: #2f3031 !important;
}
/* tooltip styles ends*/

::ng-deep .light-theme .mx-nav-info-wrapper {
    background-color: white;
}
::ng-deep .dark-theme .mx-nav-info-wrapper {
    background-color: #212121;
}
::ng-deep .light-theme  .mat-toolbar {
    height: 42px !important;
    background: white;
    color: rgba(0, 0, 0, 0.87);
}
::ng-deep .dark-theme .mat-toolbar {
    height: 42px !important;
    background: rgba(0, 0, 0, 0.87);
    color: white;
}
::ng-deep .light-theme .md-drppicker {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep .light-theme .mx-table-link {
    text-decoration: none;
    color: #0058a5;
      height: 16px;
      // font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      word-break: break-all !important;
}
::ng-deep .dark-theme .mx-table-link
{
    text-decoration: none;
    color: #0058a5;
      height: 16px;
      // font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      word-break: break-all !important;
}